# Day 2 Starter Answer
This set of exercises consolidates and refreshes the topics covered in the Foundation course.

## Strings

### String methods
Here is a quote from Monthy Python

In [2]:
quote = "What have the Romans ever done for us?"

Use string methods to 
1. uppercase (this has been done for you)
1. lowercase
1. split into a list of words

In [3]:
# uppercase the quote 
# Write your code below here
quote_upper = quote.upper()
quote_upper

'WHAT HAVE THE ROMANS EVER DONE FOR US?'

In [5]:
# lowercase the quote 
# Write your code below here
quote_lower = quote.lower()
quote_lower

'what have the romans ever done for us?'

In [6]:
# split the quote into a list of words  
# Write your code below here
quote_split = quote.split()
quote_split

['What', 'have', 'the', 'Romans', 'ever', 'done', 'for', 'us?']

### Indexing and Slicing strings
Return
1. the first character of the quote (this has been done for you)
1. the last character
1. the first five characters
1. the last five characters

In [7]:
# Return the first character of the quote (this has been done for you)
# Write your code below here
quote_first_char = quote[0]
quote_first_char

'W'

In [9]:
# Return the last character of the quote
# Write your code below here
quote_last_char = quote[-1]
quote_last_char

'?'

In [10]:
# Return the first five character of the quote
# Write your code below here
quote_first_five = quote[:5]
quote_first_five

'What '

In [11]:
# Return the last five character of the quote
# Write your code below here
quote_last_five = quote[-5:]
quote_last_five

'r us?'

## Lists
Create a list, named packages,  with three items, all strings: 'pandas', 'seaborn' and 'scikit-learn'.  Show the list.

In [12]:
# Write your code here
packages = ['pandas', 'seaborn', 'scikit-learn']

Append a string, 'requests'  to this list. Show the changed list.

In [13]:
# Write your code here
packages.append('requests')
packages

['pandas', 'seaborn', 'scikit-learn', 'requests']

Insert a string, 'keras" as the 2nd item of this list. Show the changed list

In [15]:
# Write your code here
packages.insert(2, 'keras')
packages

['pandas', 'seaborn', 'keras', 'keras', 'scikit-learn', 'requests']

Show the first, last and penultimate items in the packages list (hint: use indexing)

In [16]:
# Write your code here
packages[0], packages[-1], packages[-2]

('pandas', 'requests', 'scikit-learn')

Build a new list of the 2nd to the 4th items inclusive in the packages list (hint: use slicing)

In [17]:
# Write your code here
packages[1:4]

['seaborn', 'keras', 'keras']

## Dicts
Create a dict, named fruit,  with three keys: 'apple', 'banana' and 'cherry' and with respective values
* 'Fruit, edible, sweet, varying colors, grown on trees'
* 'Fruit, elongated, yellow, peelable, soft, sweet'
* 'Small, round, red fruit, sweet or tart, stone inside'
Display the dict

In [19]:
# Write your code here
fruit = {
    'apple': 'Fruit, edible, sweet, varying colors, grown on trees',
    'banana': 'Fruit, elongated, yellow, peelable, soft, sweet',
    'cherry': 'Small, round, red fruit, sweet or tart, stone inside'
}
fruit

{'apple': 'Fruit, edible, sweet, varying colors, grown on trees',
 'banana': 'Fruit, elongated, yellow, peelable, soft, sweet',
 'cherry': 'Small, round, red fruit, sweet or tart, stone inside'}

Add another fruit of your choice to the dict and display the dict

In [21]:
# Write your code here
fruit['date'] = 'Fruit, sweet, brown, grows on palm trees'
fruit

{'apple': 'Fruit, edible, sweet, varying colors, grown on trees',
 'banana': 'Fruit, elongated, yellow, peelable, soft, sweet',
 'cherry': 'Small, round, red fruit, sweet or tart, stone inside',
 'date': 'Fruit, sweet, brown, grows on palm trees'}

# Conditional flow
This section covers if - elif - else and for.

Once the code cell below is run, the current_hour variable will be set to the hour of the current time. (int datatype)

In [22]:
from datetime import datetime

current_hour = datetime.now().hour
current_hour

15

If current_hour is less then 12, print good morning.  If less than 17, print good afternoon.  Otherwise, print good evening.

In [23]:
# Write your code here
if current_hour < 12:
    message = 'Good morning'
elif current_hour < 17: 
    message = 'Good afternoon'
else:
    message = 'Good evening'

message

'Good afternoon'

Print the years between 2020 and 2030 inclusive.  Print each year on a new line.  The result should look like:  
2020  
2021  
...  
2030

In [24]:
# Write your code here
for i in range(2020, 2031, 1):
    print(i)

2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030

# Brainteaser exercise

Here is a set of blood pressure reading over the last few days.  

> '120/80', '122/79', '125/82', '129/85', '129/90', '127/88', '126/80'

These are in the format _sys_/_dia_ where:
* _sys_ is the systolic pressure - the high number before the /
* _dia_ is the diastolic pressure - the lower number after the /

Create a list (or tuple if you prefer) of these readings.  
Assign this to a varable, named bp_readings.

In [28]:
# Write your code here
bp_readings = ('120/80', '122/79', '125/82', '129/85', '129/90', '127/88', '126/80')
bp_readings

('120/80', '122/79', '125/82', '129/85', '129/90', '127/88', '126/80')

Using bp_readings, create a list (or tuple if you prefer) that contains the systolic numbers. The elements should be integers.  
Assign this to a varable, named systolic. 
If a list, The result should look like 

> [120, 122, 125, 129, 127, 126]

In [33]:
# Write your code here
systolic = [int(bp_reading.split('/')[0]) for bp_reading in bp_readings]
systolic

[120, 122, 125, 129, 129, 127, 126]

Do the same for the diastolic numbers.
Assign this to a varable, named diastolic.

In [35]:
# Write your code here
diastolic = [int(bp_reading.split('/')[1]) for bp_reading in bp_readings]
diastolic

[80, 79, 82, 85, 90, 88, 80]

Calculate
1. the average systolic pressure reading throughout the period?
1. the smallest systolic pressure reading

In [39]:
#  write your code here
avg_stystolic = sum(systolic) / len(systolic)
min_stystolic = min(systolic)
message = f'Systolic Results :  Average: {avg_stystolic}, Smallest {min_stystolic}  \n'
print(message)

Systolic Results :  Average: 125.42857142857143, Smallest 120

*Optional Advanced Section*  
zip together the systolic and diastolic lists to reproduce the original bp list.  
Hint: use the zip function

In [42]:
# write your code here
zipped_bp_list = list (zip(systolic, diastolic))
zipped_bp_list

[(120, 80), (122, 79), (125, 82), (129, 85), (129, 90), (127, 88), (126, 80)]

In [46]:
[str(z[0]) + '/' + str(z[1]) for z in zipped_bp_list]

['120/80', '122/79', '125/82', '129/85', '129/90', '127/88', '126/80']