# Python Basics

The canonical first program -  Hello World

print is a function in the python3 standard library. It causes the interpreter to display a text string on the screen.  
print does an action (side-effect) to write a value to the console. Actions include reading / writing a file.

In [ ]:
# Comments start with a #
print("Hello World")

When a cell block is run, the notebook will show the value of the final expresssion, below the cell .

In [ ]:
7 * 7  # this line is run but the result is not shown in the output
6 + 3  # this line is also run and the result is shown in the output

**Variables** store values and objects for later use.  If the expression is a variable assignment then nothing will be shown, so we often will write two lines like below

1. the first line sets the value of the variable
2. the second line is just the variable name so we can see the result

In [ ]:
var1 = 5 + 7
var1

Useful tip: We often want to the cell outputs to show the values of two or more variables.  We can do this by listing the variable names on the last line separated by a comma.  (Later, we will learn that we are constructing a tuple.)

In [ ]:
miles_journey = 200
km_journey = miles_journey * 1.60934 # there are about 1.61 km in a mile
furlongs_journey = miles_journey * 8 # there are 8 furlongs in a mile
km_journey, furlongs_journey # show both results

We can also use the f strings function to format and display several variables nicely.

In [ ]:
f"The journey is {miles_journey} miles, {km_journey} kilometres, or {furlongs_journey} furlongs"

## In Python, format is function

**Whitespace matters!**  This is different to  most other languages.  The benefit is readability and consistency.

Before a code block, use a colon:
Code blacks are indented, usually by 4 spaces.  Be consistent.

In [ ]:
for i in range(5):
    print(i)

## Datatypes (int, float, bool, str)

The four main datatypes are int, float, bool, str.  Python will dynamically assign a datatype to a variable based on the value of the expression during the assignment.

In [ ]:
# An int (integer) datatype is a whole number
answer = 42
type(answer) # the type function returns the type of the variable

In [ ]:
# A float is a number with  a fractional part
average_goals =  2.56
type(average_goals)

In [ ]:
# A string is a collection of characters.  Define a string in either single or double quotes.
country = "United Kingdom" 
type(country)

In [ ]:
# A bool is either True or False
today_is_monday = True
type(today_is_monday)

*Advanced* The behaviour of operators depends on the datatypes

In [ ]:
2 + 3  # adding numbers, what you expect

In [ ]:
"2" + "3"  # adding strings concatenates them

In [ ]:
"hello " * 3  # multiplying strings repeats them