# pandas exercise: answers

In [2]:
import pandas as pd

In this exercise, we will use severals data structures.  These are created in the cell below.

In [3]:
number_list = [1,2,3,4,5]

letter_list = ['a','b','c','d','e'] 

alpha_list = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']

patient_list = [
    {'nhs_id': '123-456-7890', 'name': 'Fred Bloggs', 'age': 42},
    {'nhs_id': '234-567-8901', 'name': 'Jane Doe', 'age': 55},
    {'nhs_id': '345-678-9012', 'name': 'Florence N', 'age': 32},
    {'nhs_id': '456-789-0123', 'name': 'John Smith', 'age': 28},
    {'nhs_id': '567-890-1234', 'name': 'Emma Brown', 'age': 45},
    {'nhs_id': '678-901-2345', 'name': 'Charlie Black', 'age': 50},
    {'nhs_id': '789-012-3456', 'name': 'Daisy White', 'age': 29},
    {'nhs_id': '890-123-4567', 'name': 'George Green', 'age': 34},
    {'nhs_id': '901-234-5678', 'name': 'Hannah Blue', 'age': 41},
    {'nhs_id': '012-345-6789', 'name': 'Ivy Yellow', 'age': 38},
    {'nhs_id': '123-567-8901', 'name': 'Jack Purple', 'age': 47},
    {'nhs_id': '234-678-9012', 'name': 'Laura Orange', 'age': 53},
    {'nhs_id': '345-789-0123', 'name': 'Mason Gray', 'age': 27}
]

patient_dict = {
    'nhs_id': [
        '123-456-7890', '234-567-8901', '345-678-9012', '456-789-0123', 
        '567-890-1234', '678-901-2345', '789-012-3456', '890-123-4567', 
        '901-234-5678', '012-345-6789', '123-567-8901', '234-678-9012', 
        '345-789-0123'
    ],
    'name': [
        'Fred Bloggs', 'Jane Doe', 'Florence N', 'John Smith', 'Emma Brown', 
        'Charlie Black', 'Daisy White', 'George Green', 'Hannah Blue', 'Ivy Yellow', 
        'Jack Purple', 'Laura Orange', 'Mason Gray'
    ],
    'age': [
        42, 55, 32, 28, 45, 50, 29, 34, 41, 38, 47, 53, 27
    ]
}

## Create Series and DataFrames

Create a pandas Series from number_list.Name it number_series.

Add an index of letter list to number_series.

Create a pandas Series from alpha_list. Name it alpha_series.

Combine number_series and alpha_series into a DataFrame.  Name it df_first.

Create a DataFrame from patient_list.  Name it df_patient.

Create a DataFrame from patient_dict.  Name it df_patient.

View and analyse df_patient.  
Use DataFrame methods: head(), tail(), info(), describe().

## Select rows and columns

Select the Name column from df_patient
1. as a DataFrame
1. as a Series

Select both the Name and Age columns from df_patient (as a DataFrame)

Select the 2nd row using iloc[]

Select the 2nd to the 5th row inclusive using iloc[]

Select the row with the index '234-567-8901' using .loc[]

Select the row with the indexes between '234-567-8901' and '567-890-1234' using loc[].  
Note that this returns rows inclusive of the first and last row.

Select a subset of *both* rows and columns from df_patient
* the Name and Age columns 
* the row with the indexes between '234-567-8901' and '567-890-1234'
Use loc[]

## Manipulate data in DataFrames

Add a new column, age_next_year

Drop the column, age_next_year

Create a filtered DataFrame that contains only those patiennts who are 40 years old or older.

Handle missing data

Merge  (join) two DataFrames

Sort data by index

Sort data by values