In [1]:
import pyodbc
import pandas as pd
from dotenv import load_dotenv
import os


# Define the connection parameters
server = os.getenv('SQL_SERVER')  # e.g., 'your_server.database.windows.net'
database = os.getenv('SQL_DATABASE')
username = os.getenv('SQL_USERNAME')
password = os.getenv('SQL_PASSWORD')
driver = '{ODBC Driver 17 for SQL Server}'  # Use the appropriate ODBC driver
#driver = '{ODBC Driver 18 for SQL Server}'  # Use the appropriate ODBC driver

# Create the connection string
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};PORT=1433;UID={username};PWD={password}'

# Establish the database connection
connection = pyodbc.connect(connection_string)

# SQL query to retrieve data
sql_query = 'SELECT * FROM PatientStay'

# Read data from the database into a DataFrame
df = pd.read_sql(sql_query, connection)

# Close the database connection
connection.close()

# Now, df contains your data from the Azure SQL Database
df

C:\Users\markw\AppData\Local\Temp\ipykernel_17504\318711572.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, connection)

,PatientId,AdmittedDate,Hospital,Ward,Tariff,Ethnicity,DischargeDate
0,1,2024-02-26,Kingston,Dermatology,2.0,White,2024-03-04
1,2,2024-02-26,Kingston,Ophthalmology,8.0,Black British,2024-02-27
2,3,2024-02-26,PRUH,Day Surgery,4.0,Asian,2024-02-28
3,4,2024-02-26,Oxleas,Dermatology,8.0,None,2024-03-06
4,5,2024-02-26,Oxleas,Ophthalmology,5.0,White,2024-02-28
5,6,2024-02-26,Oxleas,Day Surgery,8.0,Black British,2024-02-28
6,7,2024-02-26,Kings College,Dermatology,10.0,Asian,2024-03-02
7,8,2024-02-26,Kings College,Ophthalmology,1.0,None,2024-03-05
8,9,2024-02-26,Kings College,Day Surgery,6.0,White,2024-03-05
9,21,2024-02-28,Kingston,Day Surgery,2.0,Black British,2024-03-05
10,23,2024-02-28,Oxleas,Ophthalmology,10.0,None,2024-03-07
11,25,2024-02-28,Kings College,Dermatology,5.0,Black British,2024-03-04
12,27,2024-02-28,Kings College,Day Surgery,8.0,None,2024-03-05
13,29,2024-03-01,Kingston,Ophthalmology,4.0,Black British,2024-03-02
14,34,2024-03-01,Kings College,Dermatology,7.0,Asian,2024-03-07
15,35,2024-03-01,Kings College,Ophthalmology,7.0,None,2024-03-04
16,36,2024-03-01,Kings College,Day Surgery,2.0,White,2024-03-05
17,37,2024-03-02,Kingston,Dermatology,1.0,Black British,2024-03-06
18,38,2024-03-02,PRUH,Ophthalmology,8.0,Asian,2024-03-03
19,39,2024-03-02,Kingston,Day Surgery,10.0,None,2024-03-05
20,100,2024-02-27,Kingston,General Surgery,9.0,Black British,2024-03-05
21,110,2024-02-27,PRUH,Ophthalmology,8.0,Asian,2024-03-02
22,120,2024-02-27,Kingston,Day Surgery,6.0,None,2024-03-01
23,130,2024-02-27,Oxleas,General Surgery,8.0,White,2024-03-05
24,140,2024-02-27,Oxleas,Ophthalmology,4.0,Black British,2024-02-29
25,150,2024-02-27,Oxleas,Day Surgery,7.0,Asian,2024-03-06
26,160,2024-02-27,Kings College,Dermatology,7.0,None,2024-03-05
27,170,2024-02-27,Kings College,Ophthalmology,6.0,White,2024-02-29
28,180,2024-02-27,Kings College,Day Surgery,9.0,Black British,2024-02-29
29,190,2024-02-28,Kingston,Dermatology,10.0,Asian,2024-03-02
30,200,2024-02-28,Kingston,Ophthalmology,6.0,White,2024-03-04
31,310,2024-03-01,Oxleas,Dermatology,3.0,None,2024-03-06
32,320,2024-03-01,Oxleas,Ophthalmology,7.0,White,2024-03-07
33,330,2024-03-01,Oxleas,Day Surgery,9.0,Black British,2024-03-09
34,400,2024-03-02,Oxleas,Dermatology,1.0,White,2024-03-04
35,411,2024-03-02,Oxleas,Ophthalmology,9.0,Black British,2024-03-03
36,422,2024-03-02,Oxleas,Day Surgery,2.0,Asian,2024-03-03
37,433,2024-03-02,PRUH,Dermatology,8.0,None,2024-03-07
38,455,2024-03-02,Kings College,General Surgery,7.0,White,2024-03-05
39,2200,2024-02-28,Oxleas,Dermatology,5.0,Asian,2024-03-01
40,2400,2024-02-28,Oxleas,Ultrasound,10.0,White,2024-02-29
41,2600,2024-02-28,Kings College,Ophthalmology,8.0,Asian,2024-03-01
42,2800,2024-03-01,Kingston,Dermatology,7.0,White,2024-03-02
43,3000,2024-03-01,Kingston,Ultrasound,5.0,Asian,2024-03-04