# pandas lesson 

## Introduction

pandas is *the* library for data analysis in Python.  It has two data structures: 
* the Series for 1D labelled data such as a single row or column,
* the DataFrame for 2D data such as a table. 

A good place to get started with pandas is at https://pandas.pydata.org/getting_started.html

 This lesson shows examples of typical operations on a pandas DataFrame including:
* select a subset of columns
* calculate new columns
* filter rows in various ways
* group and summarise
* handle missing values

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # pandas uses matplotlib for plotting

## pandas Series (a 1D labelled array)

A Series is a 1D labelled array.  By default the labels are position-based integers, starting at 0.  Labels don't need to be unique.  The elements of a Series are usually of the same type. A Series may become a column in a dataframe (table) so we should expect this. These types include various types of number (ints and floats) and strings (objects).

We can create a Series in many ways, for example from a list.

### Create a Series

In [ ]:
# Create a Series form a list of first names
names = ['Harry', 'Hermione', 'Ron']
first_names = pd.Series(names)
first_names

In [ ]:
#  We can pass in an index when creating a Series
initials = ['hp', 'hg', 'rw']
first_names = pd.Series(names, index=initials)
first_names

Examine the first_names Series.  You may want to try these properties and methods: index, values, dtype, shape, ndim, size.

In [ ]:
# Write your code here as a set of print statements. The first one is provided.
print("Index:", first_names.index)

We can create a Series with a defined size and initialize with fixed or random values.

In [ ]:
# a Series of 4 random numbers with mean 10 and standard deviation 1
pd.Series(np.random.randn(4), name = 'price') + 10 # name is an optional parameter

### Access elements in a Series

We can access elements of the Series 
* by position using the iloc property,  or 
* by their index using the loc property.

In [ ]:
# returns the item in the 2nd position
first_names.iloc[1]

In [ ]:
# returns the item in the 2nd and 3rd positions
first_names.iloc[1:3]

In [ ]:
#  Returns the element but using the index label
first_names.loc['rw']

Note that when slicing with loc, the syntax is inclusive (and not the usual Pythton syntax!).

In [ ]:
first_names.loc['hp':'rw']

We can use the index to set values from the Series.

In [ ]:
print("before change:", first_names.loc['rw']) 
first_names['rw'] = 'Ronald' # set a value in the Series
print("after change:", first_names.loc['rw'])

We can use *in* to see if the index value is in the Series

In [ ]:
'hg' in first_names # check if an index is in the Series

### Element wise operations

An element wise operation is one that is performed on every element of the Series. For example,  multiply all values by 100

The examples in this section use a Series of 5 numbers named prices that is defined below.

In [ ]:
prices = pd.Series([10, 12, 15, 18, 16])
prices

THis multiplies every elemnt by a scalar value

In [ ]:
prices * 100

Add 10 to each value in the prices Series.

In [ ]:
# Write your code here

We can aggregate (e.g sum. average) the values in a Series either 
* using a numpy method, e.g. np.sum(prices)
* a method on the Series e.g. prices.sum()

In [ ]:
np.sum(prices) # total value of all elements

In [ ]:
prices.sum()

Find the min, max, average, median and other summary statistics of the prices Series

In [ ]:
# Write your code here as a set of print statements. The first one is provided.
print(f"minimum: numpy method {np.min(prices)}, Series method {prices.min()}")

## pandas DataFrames

A DataFrame is basically a table.  It is a 2D labelled data structure.  The columns can be different types.  You can think of it as a dict of Series objects (columns) if that helps.  Like a Series, a Dataframe has an index column.

We can build a pandas Dataframe in many ways, for example from a dict. The dict's keys become the column names and the dict's values become the column values.

In [ ]:
fb_dict = {
        'id': ['MCY', 'LIV', 'TOT', 'CHE', 'ARL'],
        'city': ['Manchester',	'Liverpool', 'London', 'London', 'London'],
        'team':	['Manchester City', 'Liverpool', 'Tottenham Hotspur', 'Chelsea', 'Arsenal'],
        'champions_league': ['Yes', 'Yes', 'No', 'No', 'Yes'],
        'won':	[5, 6, 6, 5, 5],
        'drawn': [4, 1, 0, 2,0],
        'lost': [0, 0, 2, 0, 2],
        'form': ['DWWWW', 'WWWWD', 'LLWWW', 'WWWDD', 'WWWWW']
        }

fb = pd.DataFrame(fb_dict)

# set the index to the unique values of the 'id' column - more useful than 0,1,2...
fb = fb.set_index('id')
fb

Exercise: Examine the dataframe.  
Use the following dataframe properties and methods: index, head(), describe(), shape, values, columns.

In [ ]:
# Write your code here as a set of print statements. The first one is provided.
print("Index:", fb.index)

Typically, we create a dataframe by using a pandas method to load the data from a source.  In the example below, we load data from a CSV file on a public URL.

In [ ]:
csv_file_url = "https://zomalextrainingstorage.blob.core.windows.net/datasets/misc/Churn.csv"
churn = pd.read_csv(csv_file_url)
churn.head()

Exercise: examine the churn Dataframe

In [ ]:
#  Write your code here

### Access columns in a Dataframe

We can access a columns or columns, col1, col2 in a dataframe df in several ways: 
* df['col1'] which returns a series
* df.col1 which returns a series (pandas allows us to refre to column names like a property! )
* df[['col1']] or df[['col1', 'col2']] which return dataframes
* df.loc[ : , ['col1', 'col2']] which is possibly best practice and most flexible

Exercise: return the city and team columns in various ways

In [ ]:
# Write your code here
print("Using dot notation:\n", fb.city)

### Sort rows
Order the rows in the dataframe by the number of games won (low to high), then in the case of any ties, by the number of games drawn.

In [ ]:
fb.sort_values(by = ['won', 'drawn'], ascending=True)

Exercise: sort rows by the form column

In [ ]:
# Write your code here

### Create new columns

In [ ]:
# Teams get 3 point for a win, 1 for a draw, none for a loss
fb['points'] = fb['won'] * 3 + fb['drawn']
fb

**Exercise:** Create a new column, played, to hold the number of games played by each team.

In [ ]:
# Write your code here

Add a new column team_caps. Note the way this is done.  The apply method argument is the string upper method

In [ ]:
fb['team_caps'] = fb['team'].apply(str.upper)
fb

The next two statements have the same effect.  They both create a column with the first five characters of the team.  Which do you prefer?

In [ ]:
# Use slicing
fb['team_short'] = fb['team'].str[:5]
fb

In [ ]:
# Use a list comprehension
fb['team_short2'] = [x[0:5] for x in fb['team'] if len(x) > 5]
fb

In [ ]:
# To keep the dataframe tidy, drop the new columns columns we added
fb = fb.drop(['team_caps', 'team_short', 'team_short2'], axis=1)
fb

### Filter rows
Filter both rows, uins the index, and columns of the dataframe in various ways using the loc method

In [ ]:
fb.loc['LIV', :] # one row, all columns, returns a series

In [ ]:
fb.loc[['LIV'], :] # one row, all columns, returns a dataframe

In [ ]:
fb.loc[['LIV', 'MCY'], :] #   two rows, all columns, returns a dataframe

In [ ]:
fb.loc[['LIV', 'MCY'], ['team', 'won']] # two rows, two columns

### Group data

Group by city

In [ ]:
fb_by_city = fb.groupby(['city'], as_index=False)
fb_by_city.groups

Get the totals of all the numeric columns per city

In [ ]:
fb_by_city.sum(numeric_only=True)
fb_by_city[['points', 'won']].sum()

Exercise: group by those teams in (and not in) the Champions League (champions_league = 'Yes' or 'No')
Sum the won, drawn and lost  columms

In [ ]:
# Write your code here

In [ ]:
fb.loc[:, ['city']] # all rows, one column

In [ ]:
fb.loc[:, ['team', 'won']] # all rows, two columns

### Filter Rows by Values

We have already seen that a boolean expression returns a Series of bools

In [ ]:
fb.won > 5

We can use this boolean expression to filter the rows of the dataframe where the bools are True

In [ ]:
fb.loc[fb.won > 5, :]

Exercise: filter the fb dataframe to return only London teams

In [ ]:
# Write your code here

We can combine two filter criteria with an & (and)

In [ ]:
(fb.city == 'London') & (fb.won > 5)

Exercise:  filter the fb dataframe to return only London teams that have won more than 5 games

In [ ]:
# Write your code here