# pandas exercise 2

This exercise covers
* Create DataFrames
* Add calculated columns
* Select (Filter) Rows by Index and Value
* Sort Rows by Index and Value

In [ ]:
import pandas as pd

In the next examples, we use a DataFrame based on the patient_list defined below.

In [ ]:
# patient_list is a list of dictionaries. Each dioctionary contains the details of a patient.
patient_list = [
    {'nhs_id': '123-456-7890', 'name': 'Fred Bloggs', 'age': 42},
    {'nhs_id': '234-567-8901', 'name': 'Jane Doe', 'age': 55},
    {'nhs_id': '345-678-9012', 'name': 'Florence N', 'age': 32},
    {'nhs_id': '456-789-0123', 'name': 'John Smith', 'age': 28},
    {'nhs_id': '567-890-1234', 'name': 'Emma Brown', 'age': 45},
    {'nhs_id': '678-901-2345', 'name': 'Charlie Black', 'age': 50},
    {'nhs_id': '789-012-3456', 'name': 'Daisy White', 'age': 28},
    {'nhs_id': '890-123-4567', 'name': 'George Green', 'age': 34},
    {'nhs_id': '901-234-5678', 'name': 'Hannah Blue', 'age': 41},
    {'nhs_id': '012-345-6789', 'name': 'Ivy Yellow', 'age': 38},
    {'nhs_id': '123-567-8901', 'name': 'Jack Purple', 'age': 47},
    {'nhs_id': '234-678-9012', 'name': 'Laura Orange', 'age': 53},
    {'nhs_id': '345-789-0123', 'name': 'Mason Gray', 'age': 28}
]

Create a DataFrame from patient_list.  Name it df_patient.

In [ ]:
# Write your code here
df_patient = pd.DataFrame(patient_list)
df_patient.head(2)

View and analyse df_patient.  
Use DataFrame methods: head(), tail(), info(), describe().

In [ ]:
# Write your code here

Set the nhs_id column as the index.  Use 
> df_patient.set_index(keys='nhs_id', inplace=True).  

Note that this also removes the column.

In [ ]:
# Write your code here

## Select rows and columns

Select the name column from df_patient as a Series.

In [ ]:
# Write your code here

Select both the name and age columns from df_patient (as a DataFrame)

In [ ]:
# Write your code here

Select the 2nd row using iloc[]

In [ ]:
# Write your code here

Select the 2nd to the 5th row inclusive using iloc[]

In [ ]:
# Write your code here

Select the row with the index '234-567-8901' using .loc[]

In [ ]:
# Write your code here

Select the row with the indexes between '234-567-8901' and '567-890-1234' using loc[].  
Note that this returns rows inclusive of the first and last row.

In [ ]:
# Write your code here

Select a subset of *both* rows and columns from df_patient
* the row with the indexes between '234-567-8901' and '567-890-1234' incusive
* the name and age columns  

Use loc[]

In [ ]:
# Write your code here

## Manipulate data in DataFrames

Add a new column, age_next_year

In [ ]:
# Write your code here

Drop the column, age_next_year

In [ ]:
# Write your code here

Create a filtered DataFrame that contains only those patients who are 40 years old or older.

In [ ]:
# Write your code here

Sort the patient DataFrame by its index (nhs_id) values.

In [ ]:
# Write your code here

Sort the patient DataFrame by values of the age column: from oldest to youngest.

In [ ]:
# Write your code here

Sort the patient DataFrame by values of the age and name column: from oldest to youngest, then for patients of teh same age, in alphbetical order of name.

In [ ]:
# Write your code here