# pandas exercise:
The purpose of this exercise is to consolidate attendees understanding of the pandas packgae for data analysis and manipulation.

In [ ]:
import pandas as pd

In this next few examples, we will use the lists created in the cell below.

In [ ]:
number_list = [1,2,3,4,5]
letter_list = ['a','b','c','d','e'] 
alpha_list = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']

## Create Series and DataFrames

Create a pandas Series from number_list.  Name it number_series.  Use the pandas Series constructor.

In [ ]:
# Write your code here

Create a pandas Series from alpha_list. Name it alpha_series.

In [ ]:
# Write your code here

Combine number_series and alpha_series into a DataFrame.  Name it df_first.  Name the columns of this DataFrame 'numbers' and 'alphas'.  
To do this, create a dict with the column names as keys and the Series as values and pass this as an argument to the DataFrame constructor.
Note that the merge is done on index values.

In [ ]:
# Write your code here

Change the index of number_series. Use letter_list to supply the values of the index.

In [ ]:
# Write your code here

Combine number_series and alpha_series into a DataFrame again.
This  will stack the rows since index values are not the same.

In [ ]:
# Write your code here

In the next examples, we use a DataFrame based on the patient_list defined below.

In [ ]:
# patient_list is a list of dictionaries. Each dioctionary contains the details of a patient.
patient_list = [
    {'nhs_id': '123-456-7890', 'name': 'Fred Bloggs', 'age': 42},
    {'nhs_id': '234-567-8901', 'name': 'Jane Doe', 'age': 55},
    {'nhs_id': '345-678-9012', 'name': 'Florence N', 'age': 32},
    {'nhs_id': '456-789-0123', 'name': 'John Smith', 'age': 28},
    {'nhs_id': '567-890-1234', 'name': 'Emma Brown', 'age': 45},
    {'nhs_id': '678-901-2345', 'name': 'Charlie Black', 'age': 50},
    {'nhs_id': '789-012-3456', 'name': 'Daisy White', 'age': 28},
    {'nhs_id': '890-123-4567', 'name': 'George Green', 'age': 34},
    {'nhs_id': '901-234-5678', 'name': 'Hannah Blue', 'age': 41},
    {'nhs_id': '012-345-6789', 'name': 'Ivy Yellow', 'age': 38},
    {'nhs_id': '123-567-8901', 'name': 'Jack Purple', 'age': 47},
    {'nhs_id': '234-678-9012', 'name': 'Laura Orange', 'age': 53},
    {'nhs_id': '345-789-0123', 'name': 'Mason Gray', 'age': 28}
]

Create a DataFrame from patient_list.  Name it df_patient.

In [ ]:
# Write your code here

View and analyse df_patient.  
Use DataFrame methods: head(), tail(), info(), describe().

In [ ]:
# Write your code here

Set the nhs_id column as the index.  Use 
> df_patient.set_index(keys='nhs_id', inplace=True).  

Note that this also removes the column.

In [ ]:
# Write your code here

## Select rows and columns

Select the name column from df_patient as a Series.

In [ ]:
# Write your code here

Select both the name and age columns from df_patient (as a DataFrame)

In [ ]:
# Write your code here

Select the 2nd row using iloc[]

In [ ]:
# Write your code here

Select the 2nd to the 5th row inclusive using iloc[]

In [ ]:
# Write your code here

Select the row with the index '234-567-8901' using .loc[]

In [ ]:
# Write your code here

Select the row with the indexes between '234-567-8901' and '567-890-1234' using loc[].  
Note that this returns rows inclusive of the first and last row.

In [ ]:
# Write your code here

Select a subset of *both* rows and columns from df_patient
* the row with the indexes between '234-567-8901' and '567-890-1234' incusive
* the name and age columns  

Use loc[]

In [ ]:
# Write your code here

## Manipulate data in DataFrames

Add a new column, age_next_year

In [ ]:
# Write your code here

Drop the column, age_next_year

In [ ]:
# Write your code here

Create a filtered DataFrame that contains only those patients who are 40 years old or older.

In [ ]:
# Write your code here

Sort the patient DataFrame by its index (nhs_id) values.

In [ ]:
# Write your code here

Sort the patient DataFrame by values of the age column: from oldest to youngest.

In [ ]:
# Write your code here

Sort the patient DataFrame by values of the age and name column: from oldest to youngest, then for patients of teh same age, in alphbetical order of name.

In [ ]:
# Write your code here

## Handle missing data
For this section we will use a tiny DataFrame, df_people, with some missing values, defined below.

In [ ]:
people = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 33, None, 35],
    'city': ['London', None, 'Leeds', 'Manchester']
}
df_people = pd.DataFrame(people)
df_people

Use the .isnull() method to find rows where age is missing.  
Note: the isna() method is interchangeable with isnull.

In [ ]:
# Write your code here

Find rows where 'city' is missing

In [ ]:
# Write your code here

Use the .notnull() or .notna() methods to find rows where age is not missing.

In [ ]:
# Write your code here

Replace any missing values of age with the average age, and missing values if city with '-Not Known-'.  
Use the DataFrame fillna() method.

In [ ]:
# Write your code here

## Merge  (join) two DataFrames
The example in this section use the DataFrames, defined below.

In [ ]:
df_names = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

df_ages = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'age': [25, 30, 35, 40]
})

df_cities = pd.DataFrame({
    'identifier': [3, 4, 5],
    'city': ['London', 'Leeds', 'Manchester']
})

Use the pandas merge method to join these two datasets.  The default merge does an inner join.

In [ ]:
# Write your code here

Change the value of the how argument to 'left', 'right', then 'outer' and explain why certain rows appear in the resulting DataFrame.

In [ ]:
# Write your code here

If the columns that we want to merge on in the two DataFrames have different names, we can use the left_on and right_on arguments.  
Merge the df_names and df_cities DataFrames on id / identifier columns

In [ ]:
# Write your code here

We can merge on the index values.  For the next section, we set the index of the df_names and df_ages to be the values of the id column. (Note that the id column is removed.)

In [ ]:
# set the index of the dataframes
df_names.set_index('id', inplace=True)
df_ages.set_index('id', inplace=True)

In [ ]:
# show the dataframes now have id as the index and no longer as a column

Merge the re-indexed df_names and df_ages DataFrames.  Use 

> left_index=True, right_index=True

arguments to indicate that you want to merge on the index values.

In [ ]:
# Write your code here